<div id="body-logIn">
  <form action="/auth/login" method="POST" class="form-logIn">

    {{#if errorMessage}}
<p style="color:red">{{errorMessage}}</p>
{{/if}}

    <div class="container-logIn">
      <h2>LogIn</h2>

      <div class="grupo-logIn">
        <input id="input-email" type="email" name="email" required /><span
          class="barra-logIn"
        ></span>
        <label for="">Email</label>
      </div>

      <div class="grupo-logIn">
        <input id="input-password" type="password" name="password" required /><span
          class="barra-logIn"
        ></span>
        <label for="">Password</label>
      </div>

      <button type="submit">Log In</button>

    </div>

  </form>



</div>


{{! views/auth/signup.hbs }}