<div id="form_signIn">


<form action="/auth/signup" method="POST" id="form_Contenedor">
  
  <div class="form">

    <h2>Signup</h2>

  
      <div class="grupo">
        <input id="name_Input" type="text" name="name" required/><span class="barra"></span>
        <label class="label_signIn"> Name</label>
      </div>
    

      <div class="grupo">
        <input id="email_Input" type="email" name="email" required/><span class="barra"></span>
        <label class="label_signIn"> Email</label>
      </div>  
        
      <div class="grupo">
          <input id="password_Input" type="password" name="password" required/>
          <label class="label_signIn" for="password"></label><span class="barra"></span>
          <label class="label_signIn"> Password</label>
          {{!-- <small>Debe contener al menos una letra miniscula o mayuscula y un numero</small> --}}
      </div>

{{!--COMENTO ESTO POR QUE CREO QUE NO HACE FALTA      <div class="grupo">
        <input id="email_Input" type="text" name="drescription"/><span class="barra"></span>
        <label class="label_signIn"> Description</label>
      </div>   --}} 
        
         
      <div class="grupo-radio">
        {{!--  AQUI PONER EL CHECKBOX DE USER/ADMIN --}}
            <input type="radio" name="role" value="user">
            <label for="user">Eventero</label><br>
      </div>

      <div class="grupo-radio">
        <input type="radio" name="role" value="admin">
        <label for="admin">Organizador</label><br>
      </div>
        

      <button id="btn-createAccount" type="submit">Create account</button>
    
        {{!-- error message will be added here --}}
        {{#if errorMessage}}
            <p>{{errorMessage}}</p>
        {{/if}}

      
 </div>
</form>


</div>