
<div class="container-form">
  <div class="event-form">
    <h2>Crear Evento</h2>
    <p> </p>
      


  </div>

  <form class="form-event" action="/create" method="POST" enctype="multipart/form-data" autocomplete="off">

    <input class="campo" type="text" name="title" placeholder="...nombre del evento" />

    <input class="campo" type="text" name="location" placeholder="...location" />

    <input class="campo" type="date" name="date" min="2022-01-01" max="2030-12-31">

    <input class="campo" min="06:00" max="00:00" type="time" name="time"/>

    <textarea class="campo" name="description"  cols="30" rows="10" placeholder="...description"></textarea>

    <input class="campo" type="text" name="redesEvent" placeholder="...link a tu red social" />

    <input class="campo" type="file" name="img">

    <button class="btn-event" type="submit">Crear Evento</button>

  </form>

  {{#if errorMessage}}
<p style="color:red">{{errorMessage}}</p>
{{/if}}

</div>