{{!-- <h1>Esta es la pagina de crear eventos</h1>

<div id="form">
  <h2>Crear Evento</h2>
  <form action="/create" method="POST" enctype="multipart/form-data">
 
    <label for="title"> Titulo
      <input type="text" name="title" placeholder="...nombre del evento" />
    </label>
 
    <label for="location"> Location
      <input type="text" name="location" placeholder="...location" />
    </label>

    <label for="date">Date
        <input type="date" name="date" min="2022-01-01" max="2030-12-31">
    </label>

    <label for="time"> Time
      <input min="06:00" max="00:00" type="time" name="time"/>
    </label>

    <label for="description"> Description
      <input type="text" name="description" placeholder="...description" />
    </label>

      <label for="redesEvent"> RED SOCIAL
      <input type="text" name="redesEvent" placeholder="...link a tu red social" />
    </label>



    <label for="img"> Imagen 
      <input type="file" name="img">
    </label>

 
    <button type="submit">Crear Evento</button>
 

  </form>
</div> --}}


<div class="container-form">
  <div class="event-form">
    <h2>Crear Evento</h2>
    <p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno 
      estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) 
      desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen. </p>
      
 {{!--    <a href="#"> <i class="fa fa-phone"></i>88787878 </a>
    <a href="#"><i class="fa fa-envelope"></i>email@email.com</a>
    <a href="#"><i class="fa fa-map-marked"></i>Cudad, Pais</a> --}}


  </div>

  <form class="form-event" action="/create" method="POST" enctype="multipart/form-data" autocomplete="off">

    <input class="campo" type="text" name="title" placeholder="...nombre del evento" />

    <input class="campo" type="text" name="location" placeholder="...location" />

    <input class="campo" type="date" name="date" min="2022-01-01" max="2030-12-31">

    <input class="campo" min="06:00" max="00:00" type="time" name="time"/>

    <textarea class="campo" name="description"  cols="30" rows="10" placeholder="...description"></textarea>

    <input class="campo" type="text" name="redesEvent" placeholder="...link a tu red social" />

    <input class="campo" type="file" name="img">

    <button class="btn-event" type="submit">Crear Evento</button>

  </form>

</div>