
<video class="video-container" src="/video/portada.mp4" autoplay muted loop id="video">
</video>


<div class="contenedor-index">
    <div id="historia-index">
        <p>¡Bienvenidxs a DragVents! 
            <br>
            <br>
           Si buscas eventos Drag y conocer más artistas que se dedican a ello, estas en el lugar indicado...
        <br>
        </p>
    </div>
    <div class="link-index">
        <a class="rainbow-button" alt="Entrar" href="/events"></a>
    </div>
    
</div>


