
<div class="container">
  {{#each onlyDrags}}
  <div class="card">
    <div class="card-header">
      <img src="{{this.imgProfile}}" alt="rover" />
    </div>
    <div class="card-body">
    
      <h4>
        {{this.name}}
      </h4>


      <a href="/{{this._id}}/profile-details"><span class="tag tag-purple">DETAILS</span></a>


    </div>
  </div>
  {{/each}}
</div>