

<div class="container-eventos">
  {{#each findEvents}}
  <div class="card-eventos">
    <div class="card-header-eventos">
      <img src="{{this.img}}" alt="rover" />
    </div>
    <div class="card-body-eventos">
   
      <h2>
        {{this.title}}
      </h2>
      <p>
        {{this.location}}
      </p>

      <a href="/{{this._id}}/details"><span class="tag tag-purple">DETAILS</span></a>
    </div>
  </div>
  {{/each}}
</div>