 body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

  background: #BE93C5;  
  background: -webkit-linear-gradient(to right, #7BC6CC, #BE93C5); 
  background: linear-gradient(to right, #7BC6CC, #BE93C5); 
}

*, 
::after, 
::before {
box-sizing: border-box;
}

/* a {
  color: #00b7ff;
} */

h1 {
  color: 15px;
} 

/******************************************************************** INICIO VISTA DETAILS*/
 /* :root {
  --box-x-padding: 2rem;
  --box-y-padding: 2rem;
}
@media (min-width: 40em) {
  :root {
    --box-y-padding: 4rem;
  }
}
@media (min-width: 60em) {
  :root {
    --box-x-padding: 3rem;
    --box-y-padding: 6rem;
  }
}
@media (min-width: 40em) {
  section {
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: 4fr 4fr 5fr;
    grid-template-areas: '. . title' 'img img content' 'img img .';
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
  }
  section::after {
    content: '';
    grid-column: 2/-1;
    grid-row: 1/3;
    position: relative;
    z-index: -1;
    background: #fff;
    box-shadow: 0 0.2em 1em rgba(61,48,41,0.2);
  }
  h1 {
    grid-area: title;
    padding-top: var(--box-y-padding);
    padding-left: var(--box-x-padding);
  }
  .content {
    grid-area: content;
    padding-bottom: var(--box-y-padding);
    padding-left: var(--box-x-padding);
    padding-right: var(--box-x-padding);
  }
  .img {
    grid-area: img;
  }
}
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700");
html {
  font-family: Montserrat, sans-serif;
  font-size: 15px;
  background-color: #f5f5f5;
}
body {
  padding: 1em;
}
h1 {
  font-size: 4em;
  margin: 0 0 1rem;
  font-family: serif;
  position: relative;
}
h1::after {
  content: '';
  position: absolute;
  width: 6rem;
  background-color: #ccc;
  height: 2px;
  top: 0;
  left: 0;
}
@media (min-width: 40em) {
  h1::after {
    left: var(--box-x-padding);
    top: var(--box-y-padding);
  }
}
.content {
  color: #4d4d4d;
  margin-bottom: var(--box-y-padding);
}
@media (min-width: 40em) {
  .content {
    margin-bottom: 0;
  }
}
p {
  margin-top: 0;
  margin-bottom: var(--box-y-padding);
  line-height: 1.5;
}
.content a {
  text-decoration: none;
  border: 1px solid #b3b3b3;
  border-radius: 1em;
  padding: 1em 2em;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: inherit;
  display: inline-block;
  background-color: #fff;
}
.img {
  position: relative;
}
.img a {
  position: absolute;
  left: 0;
  bottom: 0;
}
img {
  max-width: 100%;
  vertical-align: middle;
  box-shadow: 0 0.2em 1.2em rgba(61,48,41,0.1);
}
.attribution {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #ea4c89;
  color: #fff;
  padding: 0.5em 1em;
}

#botondelete {
  text-decoration: none;
  border: 1px solid #b3b3b3;
  border-radius: 1em;
  padding: 1em 2em;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: inherit;
  display: inline-block;
  background-color: #fff;
}  */

/* FIN VISTA DETAILS */




/***************************************************************** INICIO VIDEO*/


/*   .video-container {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .video-container__cortinilla {
    height: 50vh;
    position: absolute;
    width: 100%;
    top: 0;
  }
 */
.video-container{
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translateX(-50%) translateY(-50%); 

  
  z-index: -100;
}



#historia-index{
  background-color: #4d4d4d;
  position: absolute;
  border-radius: 20px;
  text-align: center;
  font-size: 30px;
  color: black;

  width: 400px;       
  height: 400px;

  top:50%;
  left: 50%;           
  transform: translateX(-50%) translateY(-50%); 

  opacity: 0.9;
 
  
}

  .link-index {
  position:absolute;
  left: 50%;           
  transform: translateX(-50%) translateY(-50%); 
  bottom: 11em; 
  background-color:#191919;
  display:flex;
  align-items:center;
  justify-content:center;
  font-family:Helvetica,Sans-serif;
}  

a {
  text-decoration:none;
  color:#FFF;
}
.rainbow-button {
  width:calc(20vw + 6px);
  height:calc(4vw + 6px);
  background-image: linear-gradient(80deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
  border-radius:5px;
  display:flex;
  align-items:center;
  justify-content:center;
  text-transform:uppercase;
  font-size:1.5vw;
  font-weight:bold;
}
.rainbow-button:after {
  content:attr(alt);
  width:20vw;
  height:4vw;
  background-color:#191919;
  display:flex;
  align-items:center;
  justify-content:center;
}
.rainbow-button:hover {
  animation:slidebg 2s linear infinite;
}

@keyframes slidebg {
  to {
    background-position:20vw;
  }
}

/***************************************************************** FIN VIDEO*/

/* /***************************************************************** INICIO NAV*/
/*
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


li a:hover {
  background-color: #111;
} 
*/

/***************************************************************** FIN NAV */



/******************************************************************** INICIO VISTA DETAILS*/
:root {
  --box-x-padding: 2rem;
  --box-y-padding: 2rem;
}
@media (min-width: 40em) {
  :root {
    --box-y-padding: 4rem;
  }
}
@media (min-width: 60em) {
  :root {
    --box-x-padding: 3rem;
    --box-y-padding: 6rem;
  }
}
@media (min-width: 40em) {
  section {
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: 4fr 4fr 5fr;
    grid-template-areas: '. . title' 'img img content' 'img img .';
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
  }
  section::after {
    content: '';
    grid-column: 2/-1;
    grid-row: 1/3;
    position: relative;
    z-index: -1;
    background: #fff;
    box-shadow: 0 0.2em 1em rgba(61,48,41,0.2);
  }
  h1 {
    grid-area: title;
    padding-top: var(--box-y-padding);
    padding-left: var(--box-x-padding);
  }
  .content {
    grid-area: content;
    padding-bottom: var(--box-y-padding);
    padding-left: var(--box-x-padding);
    padding-right: var(--box-x-padding);
  }
  .img {
    grid-area: img;
  }
}
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700");
html {
  font-family: Montserrat, sans-serif;
  font-size: 15px;
  
}
body {
  padding: 1em;
}
h1 {
  font-size: 4em;
  margin: 0 0 1rem;
  font-family: serif;
  position: relative;
}
h1::after {
  content: '';
  position: absolute;
  width: 6rem;
  background-color: #ccc;
  height: 2px;
  top: 0;
  left: 0;
}
@media (min-width: 40em) {
  h1::after {
    left: var(--box-x-padding);
    top: var(--box-y-padding);
  }
}
.content {
  color: #4d4d4d;
  margin-bottom: var(--box-y-padding);
}
@media (min-width: 40em) {
  .content {
    margin-bottom: 0;
  }
}
p {
  margin-top: 0;
  margin-bottom: var(--box-y-padding);
  line-height: 1.5;
}
.content a {
  text-decoration: none;
  border: 1px solid #b3b3b3;
  border-radius: 1em;
  padding: 1em 2em;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: inherit;
  display: inline-block;
  background-color: #fff;
}
.img {
  position: relative;
}
.img a {
  position: absolute;
  left: 0;
  bottom: 0;
}
img {
  max-width: 100%;
  vertical-align: middle;
  box-shadow: 0 0.2em 1.2em rgba(61,48,41,0.1);
}
.attribution {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #ea4c89;
  color: #fff;
  padding: 0.5em 1em;
}

#botondelete {
  text-decoration: none;
  border: 1px solid #b3b3b3;
  border-radius: 1em;
  padding: 1em 2em;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: inherit;
  display: inline-block;
  background-color: #fff;
}

/***************************************************************** FIN VISTA DETAILS */


/* INICIO CARDS */

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  box-sizing: border-box;
}

.container {
  display: flex;
  width: 1040px;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.card {
  margin: 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 300px;
}
.card-header img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  min-height: 250px;
}

.tag {
  background: #cccccc;
  border-radius: 50px;
  font-size: 12px;
  margin: 0;
  color: #fff;
  padding: 2px 10px;
  cursor: pointer;
}
.tag-purple {
  background-color: #5e76bf;
}
.card-body p {
  font-size: 13px;
  margin: 0 0 40px;
}
.user {
  display: flex;
  margin-top: auto;
}

.user img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.user-info h5 {
  margin: 0;
}
.user-info small {
  color: #545d7a;
}

/************************************************** FORMULARIO SIGN IN *****************/


:root {
  --colorTextos: #49454567;
}

#form_signIn, #body-logIn {
  height: 650px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.form h2 {
  text-align: center;
  font-weight: 700px;
  color: var(--colorTextos);
}

#form_contenedor{
  background-color: white;
  padding: 40px 0;
  box-shadow: 0 0 6px rgb(255, 255, 255, 0.8);
  border-radius: 10px;
  
}

.form {
  width: 100%;
  margin: auto;
}

#form_contenedor .grupo{
  position: relative;
  margin: 40px;
}

#form_contenedor .grupo-radio {
  position: relative;
  margin: 20px 45px;
  color: var(--colorTextos);
}

#name_Input, 
#email_Input, 
#password_Input {
  background: none;
  color: #c6c6c6;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--colorTextos);
}

#name_Input, #email_Input, #password_Input:focus {
  outline: none; /* para que cuando pinche, no aparezca el recuadro */
  color: #5e5d5d; /* color de la letra al escribir */
}

.label_signIn {
  color: var(--colorTextos);
  font-size: 16px;
  position: absolute;
  left: 5px;
  top: 10px;
  transition: 0.5s ease-in-out all;
  pointer-events: none;
}

/* subo el nombre cuando pincho en el input */
#name_Input:focus~.label_signIn,
#email_Input:focus~.label_signIn,
#password_Input:focus~.label_signIn,
#name_Input:valid~.label_signIn,
#email_Input:valid~.label_signIn,
#password_Input:valid~.label_signIn
/* #name_Input:valid~.label_signIn, #email_Input:valid~.label_signIn, #password_Input:valid~.label_signIn */ {
  top: -14px;
  font-size: 12px;
  color: #2196f3;
}



.barra {
  position: relative;
  display: block;
  width: 100%;
}

.barra::before {
  content: "";
  height: 2px;
  width: 0%;
  bottom: 0;
  position: absolute;
  background: linear-gradient(to right, #7BC6CC, #BE93C5);
  transition: 0.3s ease width;
  left: 0;

}

#password_Input:focus~.barra::before {
  width: 100%;
}
#name_Input:focus~.barra::before {
  width: 100%;
}
#email_Input:focus~.barra::before {
  width: 100%;
}


#btn-createAccount {
  font-family: 'roboto';
  background: #BE93C5;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #7BC6CC, #BE93C5);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #7BC6CC, #BE93C5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border: none;
  display: block;
  width: 80%;
  margin: 10px auto;
  color: white;
  height: 40px;
  font-size: 16px;
  cursor: pointer;
}

/********************** LOG IN *******************************************/
.form-logIn h2 {
  text-align: center;
  font-weight: 700px;
  color: var(--colorTextos);

}

.form-logIn {
  background-color: white;
  padding: 40px 0;
  box-shadow: 0 0 6px 0 rgb(255, 255, 255, 0.8);
  border-radius: 6px;
  
}

.container-logIn {
  width: 100%;
  margin: auto;
}

.form-logIn .grupo-logIn {
  position: relative;
  margin: 45px;
}

#input-email, #input-password{
  background: none;
  color: #c6c6c6;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--colorTextos);
}

#input-password:focus,
#input-email:focus {
  outline: none;
  color: #5e5d5d;
}

.grupo-logIn label {
  color: var(--colorTextos);
  font-size: 16px;
  position: absolute;
  left: 5px;
  top: 10px;
  transition: 0.5s ease-in-out all;
  pointer-events: none;
}

#input-password:focus~label,
#input-password:valid~label{
  top: -14px;
  font-size: 12px;
  color: #2196f3;
}

#input-email:focus~label,
#input-email:valid~label{
  top: -14px;
  font-size: 12px;
  color: #2196f3;
}

.barra-logIn{
  position: relative;
  display: block;
  width: 100%;

}

.barra-logIn::before{
  content: "";
  height: 2px;
  width: 0%;
  bottom: 0;
  position: absolute;
  background: linear-gradient(to right, #7BC6CC, #BE93C5);
  transition: 0.3s ease width ;
  left: 0;
}

#input-email:focus~.barra-logIn::before{
  width: 100%;
}
#input-password:focus~.barra-logIn::before{
  width: 100%;
}

.container-logIn button {
  font-family: "roboto";
  background: #BE93C5;  
  background: -webkit-linear-gradient(to right, #7BC6CC, #BE93C5); 
  background: linear-gradient(to right, #7BC6CC, #BE93C5); 
  border: none;
  display: block;
  width: 80%;
  margin: 10px auto;
  color: white;
  height: 40px;
  font-size: 16px;
  cursor: pointer;
}


/******************** FORMULARIO CREAR EVENTO             *************/
.container-form{
  width: 100%;
  max-width: 1100px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 50px;
  margin-top: 60px;
}
.container-form h2{
  margin-bottom: 15px;
  font-size: 35px
}
.container-form p{
  font-size: 17px;
  line-height: 1.6;
  margin-bottom: 30px;
}
 .container-form a{
  font-size: 17px;
  display: inline-block;
  text-decoration: none;
  width: 100%;
  margin-bottom: 15px;
  color: black;
  font-weight: 700;
} 
/* .container-form a i{
  color: orange;
  margin-right: 10px;
} */
.container-form form .campo, textarea{
  width: 100%;
  padding: 15px 10px;
  font-size: 16px;
  border: 1px solid #dbdbdb;
  margin-bottom: 20px;
  border-radius: 3px;
  outline: 0px;
}
.container-form form textarea{
  max-width: 530px;
  min-width: 530px;
  min-height: 140px;
  max-height: 150px;
}
.container-form .btn-event{
  padding: 15px;
  font-size: 16px;
  border: none;
  outline: 0px;
  background: #7BC6CC;  
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: all 300ms ease;

}
.container-form .btn-event:hover{
  background: linear-gradient(to right, #7BC6CC, #BE93C5); 
}
