
<div class="container-form">
  <div class="event-form">
    <h2>Crear Profile</h2>
    <p></p>

  </div>
  <form class="form-event" action="/create-profile" method="POST" enctype="multipart/form-data" autocomplete="off">
    <input class="campo" type="text" name="name" value="{{oneDrag.name}}" />

    <textarea class="campo" name="description"  cols="30" rows="10" value="{{oneDrag.description}}"></textarea>
    <input class="campo" type="text" name="redes" value="{{oneDrag.redes}}" placeholder="...Tu insta" />
    <input class="campo" type="file" name="imgProfile">
    <button class="btn-event" type="submit">Create Profile</button>
  </form>
  {{#if errorMessage}}
<p style="color:red">{{errorMessage}}</p>
{{/if}}
</div>